<div style="display: flex; flex-direction: row; min-width: 600px;align-items: center;justify-content: space-evenly;">
  <div style="display: flex; flex-direction: column">
    <table class="custom-table">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th>N.</th>
          <td>{{ index + 1 }}</td>
        </tr>
        <tr>
          <td>Lunghezza</td>
          <td>{{ _pizza.lunghezza }} cm</td>
        </tr>
        <tr>
          <td>Rimangono:</td>
          <td>{{ pizzaRimanente }} cm</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="display: flex; flex-direction: row; flex-grow: 1;justify-content: space-evenly; align-items: center;">
    <div class="gusti-display" [ngStyle]="{ 'width': _pizza.lunghezza * 5 + 'px' }">
      <app-gusto-segment
        *ngFor="let item of _pizza?.gusto; let i = index"
        [inputGusto]="item"
        [inputPizzaLength]="_pizza.lunghezza"
        (click)="removeGusto(i)"
      />
      <input
        type="button"
        *ngIf="!addtoggle && pizzaRimanente > 0"
        class="addGusto"
        (click)="toggleAddMode()"
        value="+ Gusto!"
        [ngStyle]="{ 'width': pizzaRimanente * _pizza.lunghezza + 'px' }"
      />
    </div>
    <div
      *ngIf="addtoggle"
      style="display: flex; flex-direction: row;"
    >
      <p>Nuovo Gusto:</p>
      <dx-number-box
        [showSpinButtons]="true"
        placeholder="20 cm"
        [step]="10" [min]="0" [max]="_pizza.lunghezza"
        [value]="length_text_input"
        (onValueChanged)="onChangeLengthValue($event)"
        format="# cm"
       />

      <dx-autocomplete
      [dataSource]="autoCompleteGusti"
      [searchTimeout]="80"
      [minSearchLength]="0"
      placeholder="Gusto!" [value]="gusto_text_input" (onValueChanged)="onChangeGustoValue($event)" />
      <dx-text-box  placeholder="Note..." [value]="note_text_input" (onValueChanged)="onChangeNoteValue($event)"/>
      <dx-text-box
        type="button"
        value="Aggiungi!"
        (click)="addGusto()"
      />
    </div>
  </div>
</div>
